@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
  
  
}
body {
  padding: 0;
  margin: 0;
  
  box-sizing: border-box;
  background: #dedede;
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
  
}
nav{
  height: 70px;
  background: #2c3e50;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.logo {
  padding: 1px 1px;
  width: 250px;
  height: auto;
}
nav ul{
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 50px;
}
nav ul li{
  background: #2c3e50;
  position: relative;
  list-style: none;
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 0 15px;
  color: #fff;
  text-decoration: none;
  line-height: 60px;
  font-size: 20px;
}
nav ul li a:hover {
  background: #243342;
}
nav ul ul{
  position: absolute;
  top: 60px;
  display: none;
}
nav ul li:hover > ul{
  display: block;
}
nav ul ul li{
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
}
.header-start {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0.5rem ;
  font-size: 1px;
  border-radius: 50px;
  background-color: #2c3e50;
  
}
.header-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  
  
}
img {
  width: 100%;
  
  height: auto;
}
h4 {
  font-size: 15px;
  text-align: center;
  padding: 4px;
  margin: 20px;
  
}
.move{
  padding-top: 26px;
}

#toogle {
  background-image: url(https://i.postimg.cc/C1G1nr7W/pexel.jpg);
  background-size: cover;
  display: flex;
  /* text-align: center;
  padding-top: 40px; */
  
  
}
#toogle h1 {
  color: rgb(233, 229, 227);
  font-weight: 900;
  font-size: 49px;
  text-decoration: underline;
}
#body {
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  background-color: #141414;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
}
.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background-color: #4070f4;
}
.wrapper form {
  margin-top: 30px;
}
.wrapper form .input-box {
  height: 52px;
  margin: 18px 0;
}
form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus, 
.input-box input:valid {
  border-color: #4070f4;

}
form .policy {
  display: flex;
  align-items: center;
}
form  h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}
.input-box.input-box.button input:hover {
  background: #0e4bf1;
}
form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form.text h3 a:hover {
  text-decoration: underline;
}


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h3{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h3::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.card-header h3 {
  color: #fff;
  font-size: 40px;
  text-align: center;
}
.card-header {
  color: #fff;
  font-size: 25px;
  text-align: center;
}
/* .togger-card-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
} */
.toggle-grid {
  display: grid;
  
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  /* background: red; */
  margin-top: 0%;
  margin-left: 90px;
}
.toggle-card img {
  width: 300px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0.5rem ;
  font-size: 1px;
  border-radius: 30px;
  background-color: #2c3e50;
}
.img-toggle, .more-data {
  width: 330px;
  
}
.toggle-card h3{
  text-align: center;
  
}
.more-data  {
  text-align: center;
  display: block;
  background-color: #0e4bf1;
  border-radius: 30px;
}
.card-data-info {
  color: #fff;
  margin-top: 3%;
  padding-bottom: 5%;
  
  /* gap: 20px; */
}
.toggle-card {
  width: 150px;
}
.review .box-container{
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(3, 1fr)); */
  gap:1.5rem;
}

.review .box-container .box{
  border:var(--border);
  text-align: center;
  padding:3rem 2rem;
}
.box-container {
  display: flex;
  /* background-color: red; */
}
.user {
  margin-top: 20px;

  }
.box {
  background-color: #333;
  margin: 0;
  width: 500px;
  height: 600px;
  align-items: center;
  text-decoration: none;
  
}
.box p {
  font-size: 15px;
  font-weight: 100;
  background-color: #80adf0;
  border-radius: 10px;
  
  
}
.review .box-container .box p{
  font-size: 1.5rem;
  line-height: 1.8;
  color:#ccc;
  padding:2rem 0;
}

.review .box-container .box .user{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3{
  padding: 2rem;
  font-size: 35px;
  color:rgb(141, 139, 139);
  font-family: Arial, Helvetica, sans-serif;
}

.review .box-container .box .stars i{
  font-size: 1.5rem;
  color:var(--main-color);
}
.quote {
  width: 50px;
  margin: 20px;
  
  
}




/* responsive
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
} */

